body {
  font-family: 'Times New Roman', serif;
  color: gray;
  font-size: 16px; }

.navbar-toggle {
  padding-left: 0; }

.navbar-toggle i {
  font-size: 30px;
  border: 1px solid #999;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px; }
  .navbar-toggle i:active {
    color: #fff;
    border-color: #fff; }

.my-background, .navbar-inverse {
  background: #333; }

.navbar-inverse .navbar-brand {
  height: auto;
  padding-top: 30px;
  padding-right: 0; }
  .navbar-inverse .navbar-brand:hover {
    color: #999; }
  .navbar-inverse .navbar-brand:focus {
    color: #fff; }

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff; }

.navbar-header .logo {
  font-size: 4rem; }

.navbar-header p {
  padding-top: 5px;
  margin-bottom: 0;
  font-size: 1rem; }
  .navbar-header p sub {
    font-size: 1.5rem; }

.text-orange {
  color: orange; }

.gallery {
  text-align: center; }

.photo img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.link, .navbar-header p, .text-strong {
  font-weight: bold; }
  .link p, .navbar-header p p, .text-strong p {
    display: inline-block;
    margin-right: 5px; }

.link:hover, .navbar-header p:hover, .text-strong:hover,
.link:visited,
.navbar-header p:visited,
.text-strong:visited,
.link:active,
.navbar-header p:active,
.text-strong:active,
.link:focus,
.navbar-header p:focus,
.text-strong:focus {
  text-decoration: none; }

.top-padding {
  padding-top: 20px; }

.bottom-padding {
  padding-bottom: 20px; }

.top-margin {
  margin-top: 20px; }

.story h1 {
  margin-top: 0; }

.list-unstyled li {
  border-bottom: 1px solid gray;
  padding: 5px 0; }

.text-white {
  color: #fff; }

.text-strong {
  font-style: italic; }

.my-list {
  text-align: center; }
  .my-list h4 {
    margin-bottom: 15px; }

footer {
  background: #111; }
  footer p {
    text-align: center; }

@media (min-width: 768px) {
  nav li {
    margin: 25px 0;
    background: #000; }
  .navbar-inverse .navbar-brand:focus {
    color: #999; }
  .navbar-inverse .navbar-brand:hover {
    color: #fff; }
  .navbar-inverse .navbar-nav > li > a:focus {
    color: #999; }
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff; }
  .gallery {
    text-align: left; }
    .gallery .img-thumbnail {
      width: 100%; }
  .navbar-header .logo {
    font-size: 4.5rem; }
  .navbar-header p {
    font-size: 1.5rem; }
  .my-list {
    text-align: left; }
  footer p {
    display: inline-block; }
    footer p:last-child {
      float: right; } }

@media (min-width: 768px) and (max-width: 991px) {
  nav {
    text-align: center; }
    nav ul {
      display: inline-block; }
      nav ul.navbar-right {
        margin: 0 auto;
        float: none !important; }
  .navbar-nav li {
    margin-top: 0; }
  .navbar-header {
    width: 100%;
    text-align: center;
    float: none;
    margin-top: 30px; }
  .navbar-brand {
    float: none; } }

@media (min-width: 992px) {
  .photo-2 .img-thumbnail {
    width: 100%; }
  .top-margin {
    margin-top: 50px; } }

/*# sourceMappingURL=style.css.map */